header h1{
    color: brown;
    font-style: oblique;
    font-size: 3em;
    background-color: rgba(0, 0, 0, 0.094);
    border: 4px black dotted;
}
header h4{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: darkblue;
}
.container{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
}
.principal{
    background-color: aliceblue;
    text-align: center;
}