header h1{
    color: brown;
    font-style: oblique;
    font-size: 3em;
}
.container{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
}
.principal{
    background-color: aliceblue;
    text-align: center;
}
#resaltado{
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px;
    background-color: rgba(255, 231, 93, 0.986);
}